$color-1: #002a77;
$nav-h : 40px;

body{
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: white
}
.page
{
  width: 100vw;
  padding: 0 20vw;
  min-height: 100vh;
  background: #000000c4;
  z-index: 999;
}
h1{
  padding: calc($nav-h + 1rem) 0 1rem 0;
  text-align: center;
}
a{
  color: white;
}
@media screen and (max-width: 768px){
  .page{
    padding: 0 5px;
  }
}