@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}
$color1: #1e90ff;
$nav_link: #ffffff;
$nav_link_active: #dadada;
$text_color: #000000;
$background: #ffffff;


$nav_height: 48px;
$foot_height: 165px;
$container_auto: calc(100vh - $nav_height - $foot_height);

body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  color: $text_color;
}

.btn {
  font-size: 1rem;
  cursor: pointer;
  background-color: green;
  border: 2px solid green;
  color: $nav_link;
  padding: 5px 10px;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  min-height: $container_auto;
  margin-top: 48px;
  h1 {
    text-align: center;
    margin: 10px;
  }
  p {
    padding-top: 0;
    margin-top: 0;
  }
}
