.account{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "F P";
  .accountForm{
    grid-area: F;
    padding: 0 12px;
    input[type="text"],
    input[type="password"] ,input[type="email"], textarea, input[type="date"]{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .btn {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #4caf50;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    transition: 0.3s ease;
    &:hover {
      background-color: #00FF00;
    }
  }
  }
  .panel{
    grid-area: P;
  }
}