.Form {
  display: block;
  background-color: $color-1;
  padding: 20px;
  text-align: center;
  font-size: 1.1rem;
  .btn {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #4caf50;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
    &:hover {
      background-color: #00FF00;
    }
  }
  .btn-red {
    background-color: #a53939;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #9d4141;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
    &:hover{
      background-color: #FF0000;
    }
  }
  .error{
    color: red;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  input[type="text"],
  input[type="password"] ,input[type="email"]{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
